<main>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        
      </div>
    
            <div class='mx-auto'>
              <p>ようこそ、京都・伏見・賃貸マップへ！このサイトは、京都市伏見区　丹波橋・伏見エリアの観光・賃貸物件情報サイトです
              弊社の会員でない方も商品の閲覧はできますが、物件の予約時には、会員登録が必要になります
               <%= image_tag('map.png',size:"1300x1000") %>
               </p>
            </div> 
            
            <div class="btn-wrapper  mx-auto">
              <h3>弊社物件一覧</h3>
              
              <tbody>
                   <% @items_latest4.each do |item| %>
                    <tr>
                      <th>
                    
                      </th>
                      <td>
                      <%= link_to item_path(item.id) do %>
                    　<%= image_tag item.get_image(300,300) %>
                    　<% end %>
                    　</td>
                    </tr>
                    　
                      <td><%= item.name %></td>
                      <td>￥<%= item.price %></td>
                      
                    </tr>
                    <% end %>
              </tbody> 
              <%= link_to '全ての物件を見る>', items_path, class: "btn btn-sm btn-success " %> 
            </div> 
            
            <!--<footer class="bg-dark text-white pt-5 pb-4">-->
            <!--    <div class="container">-->
            <!--      <div class="row no-gutters">-->
            <!--        <div class="col-md-4">-->
            <!--          <p>善良な市民同士で無差別に食欲を煽るSNS</p>-->
            <!--        </div>-->
                    
            <!--        <div class="col-md-8">-->
            <!--          <h6 class="text-white mt-2 mb-3">Link</h6>-->
            <!--          <ul class="p-0 list-unstyled">-->
            <!--            <li>-->
            <!--              <a href="" title="About" class="text-white-50">会社概要</a>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--              <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>-->
            <!--            </li>-->
            <!--          </ul>-->
            <!--        </div>-->
            <!--      </div>-->
            <!--    </div>-->
            <!--</footer>-->
            
       <!--   </div>  -->
      　<!--</div>-->
      </div>
    </div>
</main>
      
      
    


