<h2><div class="p-3 mb-2 bg-light text-dark">商品詳細</h2>

<td>
<%= image_tag @item.get_image(500,500) %>
</td>

<p><%= @item.name %></p>

<p><%= @item.introduction %></p>

<p>￥<%= @item.price %>円</p>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, [*(1..10)] %>


<%= f.submit 'カートに入れる',class: "btn btn-success" %>

<%end%>


 
